# Dependencies
node_modules/
client/node_modules/

# Environment variables
.env
client/.env

# Uploads
uploads/*
!uploads/.gitkeep

# Build
client/dist/
client/build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

